@use '../abstracts/variables' as *;

.clock {
  background: $color-background;
  border-radius: $radius-circle;
  box-shadow: $shadow-inset;
  height: $size-clock;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 8px;
  transform: translateX(-50%);
  width: $size-clock;

  &::before {
    background: $color-background;
    border: 1px solid $color-line;
    border-radius: $radius-circle;
    content: '';
    height: 100px;
    left: 14px;
    position: absolute;
    top: 14px;
    width: 100px;
    z-index: 10;
  }

  .line {
    background: $color-line;
    height: 100%;
    left: 50%;
    margin-left: $margin-left-center;
    position: absolute;
    top: 0;
    width: $size-line;

    &::before {
      background: $color-line;
      content: '';
      height: 100%;
      left: 50%;
      margin-left: $margin-left-center;
      position: absolute;
      top: 0;
      transform: rotate(36deg);
      width: $size-line;
    }

    &.one {
      transform: rotate(36deg);
    }

    &.three {
      transform: rotate(108deg);
    }

    &.five {
      background: transparent;

      &::before,
      &::after {
        background: $color-background;
        border-radius: $radius-circle;
        color: $color-line;
        content: '12';
        display: block;
        font-family: sans-serif;
        font-size: 15px;
        height: 20px;
        left: -9px;
        position: absolute;
        text-align: center;
        top: 8px;
        transform: rotate(0);
        width: 20px;
        z-index: 11;
      }

      &::after {
        bottom: 8px;
        content: '6';
        top: auto;
      }
    }
  }

  .arrow {
    background: $color-arrow;
    border-radius: $radius-circle;
    height: $size-arrow;
    left: 50%;
    margin: -10px;
    position: absolute;
    top: 50%;
    width: $size-arrow;
    z-index: 12;

    &::before {
      background: $color-arrow;
      bottom: -20px;
      content: '';
      height: 90px;
      left: 50%;
      margin-left: $margin-left-center;
      position: absolute;
      width: 2px;
    }

    &::after {
      border: 4px solid;
      border-color: transparent transparent $color-arrow;
      content: '';
      left: 50%;
      margin-left: -4px;
      position: absolute;
      top: -55px;
    }
  }
}

@media (max-width: 768px) {
  .clock {
    height: 90px;
    width: 90px;

    &::before {
      height: 70px;
      width: 70px;
      left: 10px;
      top: 10px;
    }
  }
}
