@use '../abstracts/variables' as *;

.footer {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: $spacing-lg;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}