@use '../abstracts/variables' as *;

.timer {
  background: $color-background;
  border-radius: 0 0 $radius-display $radius-display / 0 0 30px 30px;
  box-shadow: $shadow-timer;
  left: 20px;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 212px;

  div {
    cursor: default;
    float: left;
    font-size: $size-number;
    height: $size-number;
    position: relative;
    text-align: center;
    width: $size-number-width;

    &::after {
      background: $color-display-line;
      box-shadow: $shadow-text;
      content: '';
      height: 360px;
      left: 0;
      position: absolute;
      width: $size-line;
    }

    &:first-child::after {
      display: none;
    }
  }

  .numb {
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &::before {
      color: $color-bg-dark;
      content: '0 1 2 3 4 5 6 7 8 9 0';
      font-size: $size-font-lg;
      height: 360px;
      left: -2px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 30px;
    }

    &.tenHour {
      animation-duration: 1000000s;
    }

    &.hour {
      animation-duration: 100000s;
    }

    &.tenMin {
      animation-duration: 10000s;
    }

    &.min {
      animation-duration: 1000s;
    }

    &.tenSec {
      animation-duration: 100s;
    }

    &.sec {
      animation-duration: 10s;
    }

    &.tenMilisec {
      animation-duration: 1s;
    }

    &.milisec {
      animation-duration: 0.1s;
    }
  }
}

@media (max-width: 768px) {
  .timer {
    transform: scale(0.8);
    left: 10px;
  }
}
