/* NUMBER DESIGN */
.timer {
  background: #ffffff;
  border-radius: 0 0 15px 15px / 0 0 30px 30px;
  box-shadow: inset 1px 3px 5px #888899, inset 1px -1px 2px #888899;
  left: 20px;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 212px;
}

.timer div {
  cursor: default;
  float: left;
  font-size: 36px;
  height: 36px;
  position: relative;
  text-align: center;
  width: 23px;
}

.timer div::after {
  background: #7e7e7e;
  box-shadow: 0 0 7px #333333, 0 0 7px #333333;
  content: '';
  height: 360px;
  left: 0;
  position: absolute;
  width: 1px;
}

.timer div:first-child::after {
  display: none;
}

.numb::before {
  color: #272944;
  content: '0 1 2 3 4 5 6 7 8 9 0';
  font-size: 38px;
  height: 360px;
  left: -2px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 30px;
}

/* TIMER ANIMATION */
.numb {
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.numb.hour {
  animation-duration: 100000s;
}

.numb.min {
  animation-duration: 1000s;
}

.numb.milisec {
  animation-duration: 0.1s;
}

.numb.sec {
  animation-duration: 10s;
}

.numb.tenHour {
  animation-duration: 1000000s;
}

.numb.tenMin {
  animation-duration: 10000s;
}

.numb.tenSec {
  animation-duration: 100s;
}

/* CORRECCIÓN DE TYPO */
.numb.tenMilisec {
  animation-duration: 1s;
}