html,
body {
  background-color: #272944;
  font-family: 'DsDigital', Arial, sans-serif;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}